<div class="modal loadingModal" id="loadingModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="row" style="overflow: hidden;">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12">
            <h4 class="text-center">Aguarde...</h4>
        </div>
    </div>
    <div class="row" style="overflow: hidden;">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12 text-center">
            <i class="fa fa-spinner fa-pulse fa-3x"></i>
        </div>
    </div>
</div>