<!-- <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > -->
<!--       <div class="modal-dialog"> -->
<!--         <div class="modal-content"> -->
<!--           <div class="modal-header"> -->
<!--             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<!--             <h4 class="modal-title" id="myModalLabel">Exclusão de contato</h4> -->
<!--           </div> -->
<!--           <div class="modal-body"> -->
<!--             Você tem certeza que deseja excluir {{preDeletedContact.name}}? -->
<!--           </div> -->
<!--           <div class="modal-footer"> -->
<!--             <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> -->
<!--             <button type="button" class="btn btn-primary" data-dismiss="modal" data-backdrop="false" ng-click="deleteContact()">Excluir</button> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->

<div class="modal loadingModal" id="loadingModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- <div class="modal modal-sm" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true" style="background-color: red;"> -->
<!-- <div class="modal-body" id="loadingModal" data-backdrop="static"> -->
<!-- <div class="modal-dialog modal-sm" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true" style="background-color: red;"> -->
    <div class="row" style="overflow: hidden;">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12">
            <h4 class="text-center">Aguarde...</h4>
        </div>
    </div>
    <div class="row" style="overflow: hidden;">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12 text-center">
            <i class="fa fa-spinner fa-pulse fa-3x"></i>
        </div>
    </div>
</div>